/*
 * Gr4vy API
 *
 * Welcome to the Gr4vy API reference documentation. Our API is still very much a work in product and subject to change.
 *
 * API version: 1.1.0-beta
 * Contact: code@gr4vy.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package Openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// AntiFraudServiceDefinitionsApiService AntiFraudServiceDefinitionsApi service
type AntiFraudServiceDefinitionsApiService service

type ApiGetAntiFraudServiceDefinitionRequest struct {
	ctx _context.Context
	ApiService *AntiFraudServiceDefinitionsApiService
	antiFraudServiceDefinitionId string
}


func (r ApiGetAntiFraudServiceDefinitionRequest) Execute() (AntiFraudServiceDefinition, *_nethttp.Response, error) {
	return r.ApiService.GetAntiFraudServiceDefinitionExecute(r)
}

/*
 * GetAntiFraudServiceDefinition Get anti fraud service definition
 * Gets the definition for an anti fraud service.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param antiFraudServiceDefinitionId The unique ID for an anti-fraud service definition.
 * @return ApiGetAntiFraudServiceDefinitionRequest
 */
func (a *AntiFraudServiceDefinitionsApiService) GetAntiFraudServiceDefinition(ctx _context.Context, antiFraudServiceDefinitionId string) ApiGetAntiFraudServiceDefinitionRequest {
	return ApiGetAntiFraudServiceDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		antiFraudServiceDefinitionId: antiFraudServiceDefinitionId,
	}
}

/*
 * Execute executes the request
 * @return AntiFraudServiceDefinition
 */
func (a *AntiFraudServiceDefinitionsApiService) GetAntiFraudServiceDefinitionExecute(r ApiGetAntiFraudServiceDefinitionRequest) (AntiFraudServiceDefinition, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AntiFraudServiceDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AntiFraudServiceDefinitionsApiService.GetAntiFraudServiceDefinition")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/anti-fraud-service-definitions/{anti_fraud_service_definition_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"anti_fraud_service_definition_id"+"}", _neturl.PathEscape(parameterToString(r.antiFraudServiceDefinitionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error401Unauthorized
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
